@import url('https://fonts.googleapis.com/css2?family=Outfit:wght@100..900&display=swap');
@import "tailwindcss";

*{
   font-family: "Outfit", sans-serif;
}

@theme{
  --color-primary: #1E3A8A;
  --color-primary-dull:#3B82F6;
  --color-light:#F9FAFB;
  --color-borderColor: #E5E7EB;

  --color-text-primary: #111827;     /* Dark Slate – main text */
  --color-text-secondary: #6B7280;   /* Muted Gray – subtitles or labels */
  --color-success: #10B981;          /* Emerald – success states */
  --color-warning: #F59E0B;          /* Amber – warning (optional) */
  --color-error: #EF4444;            /* Red – error messages */
}